li{
    padding: auto;
    margin: 5px 0;
    
}
li:hover{
    background-color: aliceblue;
    display: inline-block;/* le background-color s'adapte au texte */
    transform: translateX(5px);/* faire apparaitre la ligne lors du survole */
    border-radius: 20px;
}


h1{
    background-color: rgb(62, 216, 15);
    border-radius: 10px;
    color: rgb(55, 164, 164);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

body{
    background-color: rgb(197, 216, 231);
    text-align: center;
}
img{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;/* enlever le point au debut de l'urls */

}
ul a{
    text-decoration: none;/*enlever le soulignement*/
}
