<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un Document</title>
    
</head>
<body>
    

    {% block title %}Ajouter un document{% endblock %}

    {% block content %}
    <h2 class="text-success">Ajouter un document</h2>
    <form method="post" class="row g-3">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="id_titre" class="form-label">Titre</label>
            <input type="text" name="titre" id="id_titre" class="form-control">
        </div>
        <div class="mb-3">
            <label for="id_contenu" class="form-label">Contenu</label>
            <textarea name="contenu" id="id_contenu" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="id_image" class="form-label">Image</label>
            <input type="file" name="image" id="id_image" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
    {% endblock %}
</body>
</html>