{% load static %} 
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Mes documents</title>
    <link rel="stylesheet" href="{% static 'css/main1.css'%}">
        <!--<link rel="stylesheet" href="{% static 'VehiTrack/css/main.css'%}">--><!--pour mettre de la couleur à la page mais tu peux la supprimer-->
</head>
<body class="container">
    
    {% block content %}
    <img src="{% static 'image/logo2.jpg' %}"
        class="img-fluid"
        alt="Description"
        style="width: 100%; height: 8cm; object-fit: cover; display: block;">
        

        <h1>Bienvenue dans le système gestionnel </h1>
        <p>Choisissez une option :</p>
        <ul>
            <li><a href="{% url 'liste_matricules' %}">Voir les matricules</a></li>
            <li>
                <a href="/admin/" target="_blank" >
                    Accéder à l’administration
                </a>
            </li>
        </ul>
    <section class="cl_noir">
        <div class="Bas_page">
            <h2>ADMINISTRATOR</h2>
        </div>
    </section>
    {% endblock %}
</body>
</html>
